@use 'base/variables' as v;
@use 'base/mixins' as m;
.header {

    background-color: v.$verde;

    @include m.desktop {
     &.fijo{
        left: 0;
        top: 0;
        position: fixed;
        width: 100%;
        box-shadow: .1rem .2rem .3rem #666;

    }
}

   
    h1 {
        color: v.$blanco;
        margin:5rem;
        text-align: center;
        @include m.desktop {
            margin: 0;
        }        
    }
    .contenido-header{
        padding:2rem;
        @include m.desktop {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}


.navegacion_principal {
        
        display: flex;
        flex-direction: column;
        align-items: center;
   
  
    @include m.desktop {
        flex-direction: row;
        justify-content: space-between;
       }
       
       a{
        text-align: center;
        margin-bottom: 1.5rem;
        color: v.$blanco;
        font-size: 2.4rem;
       
        @include m.desktop {
            margin-bottom: 0 ;
            margin-left: 1rem;
            margin-right: 1rem;
            
        }
        
        &:hover
        {
            color: v.$amarillo;
        }
    }
} 

